<div id="messages">
  
  <!-- This submit form is extremely temporary -->
  <form>
    <input placeholder="Message..." ng-model="activity">
    
    <button type="submit" ng-click="addActivity(activity);activity = null;">send</button>
    
    <select ng-model="activityType">
      <option value="0">Comment</option>
      <option value="1">Event</option>
      <option value="2">Progress</option>
      <option value="3">Mood</option>
    </select>
  </form>

  <div class="activity" ng-repeat="a in activities | orderBy: '-timeStamp'">
    <div class="badge" ng-class="badgeStyle(a.type)">
      <!-- Comments -->
      <div ng-if="a.type === 0">
        <i class="icon pe-7s-comment" />
      </div>
      <!-- Events -->
      <div ng-if="a.type === 1">
        <i class="icon pe-7s-gleam" />
      </div>
      <!-- Progress -->
      <div ng-if="a.type === 2">
        <span>{{a.value}}</span>
      </div>
      <!-- Status/Mood -->
      <div ng-if="a.type === 3">
        <mood-icon mood="a.value"></mood-icon>
      </div>
      
    </div>
    
    <div class="vector comment"></div>
    
    <div class="message comment">
      <strong>{{a.user}}</strong>: {{a.text}}
    </div>
  </div>

</div>
 

