
<div class="card">
  
  <!-- Hover zone -->
  <div class="card-hoverzone">
    
    <!-- Header -->
    <div class="card-header">
      <!-- Title -->
      <div class="card-title">{{card.title}}</div>
      <!-- Progress -->
      <div ng-if="card.progress !== undefined" class="card-progress-bar">
        <div class="progress" ng-style="{width: card.progress + '%'}"></div>
      </div>
    </div>
    
    <!-- Body -->
    <div class="card-body">
      <div class="card-description">{{card.description}}</div>
      <!--<div class="card-assignee">{{card.assignees}}</div>
      <div class="card-due-date">Due on 07/04/2015</div>-->
    </div>
    
    <div class="circle" ng-click="show()">
      <div class="inner">View <strong>{{card.title}}</strong></div>
    </div>
    
  </div>
  
  <!-- Footer -->
  <div class="card-footer">
  	<!-- Assignee -->
    <div ng-if="card.assignee" class="float-left">
      <div class="avatar-sm subtle pointer">
        <img src="" cherry-avatar="{{card.assignee}}">
      </div>
    </div>
    
    <!-- Settings -->
    <i class="icon icon-lg pe-7s-config float-right subtle" title="Edit Settings for {{card.title}}'" ng-class="{selected: menuShowing}" ng-click="toggleShowMenu()"></i>
    
    <!-- Reports -->
  	<i class="icon icon-lg pe-7s-graph float-right subtle" title="View Reports for '{{card.title}}'"></i>
    
    <!-- Mood -->
    <div ng-if="card.mood !== undefined" class="mood subtle float-right" title="">
      <mood-icon mood="card.mood"></mood-icon>
    </div>
    
  	<!--<i class="icon icon-lg pe-7s-link float-right subtle" title="Copy link to '{{card.title}}'"></i>-->
  </div>

  <!-- Menu for settings -->
  <div class="card-menu" ng-class="{show: menuShowing}">
    
    <div class="card-menu-item">
      <i class="icon pe-7s-look"></i>
      View {{card.title}}?
    </div>
    
    <div class="card-menu-item">
      <i class="icon pe-7s-bell"></i>
      Subscribe to {{card.title}}?
    </div>
    
    <div class="card-menu-item">
      <i class="icon pe-7s-share"></i>
      Share {{card.title}}?
    </div>
    
    <div class="card-menu-item" ng-click="toggleConfirmRemove()" ng-class="{'danger-zone': removeConfirming}">
      <i class="icon pe-7s-trash"></i>
      <span ng-if="!removeConfirming">Remove {{card.title}}?</span>
      <span ng-if="removeConfirming"><strong>You sure?</strong> <span ng-click="remove()" class="choice">Yes!</span> <span ng-click="toggleShowMenu()" class="choice">No, sorry.</span> </span>
    </div>
    
  </div>

</div>
