<form>
  <input placeholder="Message..." ng-model="newMessage">
  <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
</form>

<!--ng-show="messages.length"-->

<div id="messages">

  <div class="activity" ng-repeat="message in messages | orderBy: '-timeStamp'">
    <div class="badge comment">
      <i class="icon pe-7s-comment" />
    </div>
    
    <div class="vector comment"></div>
    
    <div class="message comment">
      <strong>{{message.user}}</strong>: {{message.text}}
    </div>
  </div>
  
</div>
 

