#############
# Application
#############
# Note: this should be built from a jade template at runtime
app/index.html
app/dist/

#############
# Config
#############

# app/config/
# firebase.json

#############
# 3rd-party libs
#############

node_modules/
app/bower_components

#############
# Logs
#############
*.log

#############
# Sass 
#############

.sass-cache/
app/assets/style/compiled/

#############

#############
# OSX stuff
#############

.DS_Store

#############
# Windows stuff
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#############
# IDE
#############

.settings/
.vscode/

#############
# Secure Stuff
#############

.credstore/