<div>
  <div ng-show="!signedIn" id="signin-container">
    <div class="header">
      <h2>Sign in</h2>
    </div>
    <div class="body">
      <form>
        <label>
          <span>email</span>
          <input type="text" ng-model="email" />
        </label>
        <label>
          <span>password</span>
          <input type="password" ng-model="pass" />
        </label>
        <label ng-cloak ng-show="createMode">
          <span>confirm pass</span>
          <input type="password" ng-model="confirm" />
        </label>
        <button class="btn" ng-click="signin()" ng-hide="createMode">Sign In</button>
        <button class="btn" ng-click="createMode = true" ng-hide="createMode">Register</button>
        <button class="btn" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
        <button class="btn" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
      </form>
    </div>
  </div>
</div>
