<div class="wall">
  
  <!-- Task -->
  <div class="brick task">
    <div class="task-header">
      <!-- Title -->
      <h2>{{task.title}}</h2>
      
      <!-- Progress -->
      <h4>Progress</h4>
      <div ng-if="task.progress !== undefined" class="card-progress-bar">
        <div class="progress" ng-style="{width: task.progress + '%'}"></div>
      </div>
      
      <!-- Description -->
      <h4>Description</h4>
      <p>{{task.description}}</p>
    </div>
    
    <div class="task-body">
      <h4>Participants</h4>
      <div>
        <!-- A few messages if there is no data yet -->
        <p ng-hide="isAssigned() || isWatched()">Nobody is involved yet...</p>
        <p ng-hide="isAssigned()"><a ng-click="assign()">Assign yourself?</a></p>
        <!-- Assignee -->
        <p ng-if="isAssigned()">
          <span class="avatar-sm avatar-inline"><img src="" cherry-avatar="{{task.assignee}}"></span> is working hard on this task.
        </p>
        <div class="media">
          <div class="task-thumbnail" ng-repeat="m in media">
            <img src="{{m.urls.thumbnail}}" />
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- Activity Feed -->
  <div class="brick activities overflow-visible" fill-y>
    <cherry-activity task="task"></cherry-activity>
  </div>
  
</div>