<div class="pure-u">
  <div class="content">
    <h2>All tasks</h2>

    <form ng-submit="addTask()">
      <input type="text" ng-model="taskModel.title" />
      <input type="submit" value="Add Task" />
    </form>

    <div>
      <h3>All Tasks for this tenant</h3>
      <!-- <pretty-loader loaded="tasks.$last"></pretty-loader> -->
      <ol ng-repeat="task in tasks | orderBy: '-dateCreated'">
        <li>
          <a href="#/tasks/{{task.id}}">{{task.title}}</a>
        </li>
      </ol>
    </div>
  </div>
</div>
