@import 'vars';

.activities > .activity {
  margin-left: -60px;
  float: left;
}

.activity > .badge {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background: $brand-red;
  border-radius: 50%;
}

.activity > .badge > i.icon {
  font-size: 30px;
  font-weight: 700;
  color: $brand-white;
}