@import 'vars';

@mixin center-vertical ($left) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $left;
  margin-top: auto;
  margin-bottom: auto;
}

.activities .activity {
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: -24px;
}

.activity > .badge,
.activity > .vector,
.activity > .message {
  float: left;
}

.activity > {
  .badge {
    @include center-vertical(0px);
  }
}

.activity,
.activity-input {
  .badge {
    border: 3px solid $brand-white;  
  }
}

.activity,
.activity-input {
  .badge {
    height: 48px;
    width: 48px;
    line-height: 42px;
    text-align: center;
    background: $brand-red;
    border-radius: 50%;
    
    span {
      font-size: 1.5em;
      font-weight: 700;
      color: $brand-white;
    }
  }
}

.activity,
.activity-input {
  .badge {
    i.icon {
      font-size: 32px;
      font-weight: 700;
      color: $brand-white;
    }
  }
}

.activity {
  .vector {
    height: 3px;
    width: 25px;
    background-color: $brand-black;
  }
}

.activity {
  .message {
    width: 100%;
    padding: 32px 24px 32px 48px;
    margin-left: 24px;
    background-color: #fff;
    font-size: 0.85em;
    color: #444;
  }
}

// .activity:nth-child(odd) .message {
//   background-color: $brand-lightgrey;
// }

.activity-input {
  
  background: $brand-white;
  transition: background $transition-medium;
  
  textarea {
    margin-top: 1em;
    padding-left: 48px;
    width: 100%;
    height: 4em;
    color: $brand-black;
    background-color: transparent;
    border: none;
    resize: none;
  }
  
  .badge-selector {
    position: absolute;
    margin-top: 1em;
    margin-left: -24px;
    width: 48px;
    
    .badge {
      position: absolute;
      margin-right: -24px;
      float: left;
      z-index: 1;
      
      transition: margin $transition-fast;
    }
    
    .badge.selected {
      cursor: default;
      z-index: 2;
    }
  }
  
  .badge-selector.select:not(.transitioning) {
    
    width: auto;
    
    .badge {
      position: static;
      margin-right: 12px;
      cursor: pointer;
    }
  }
      
  // .activity-input-bar {
  //   height: 2em;
  //   background-color: $brand-darkgrey;
  // }
}

  /////////////////////////////////////////////////
 // Activity-specific stuff
/////////////////////////////////////////////////

// Comments

.activity,
.activity-input {
  .badge.comment {
    background-color: $brand-purple;
  }
}

// Progress

.activity,
.activity-input {
  .badge.progress {
    background-color: $brand-blue;
  }
}

// Mood/Status

.activity,
.activity-input {
  .badge.status {
    background-color: $brand-green;
  }
}

// Events

.activity,
.activity-input {
  .badge.event {
    background-color: $brand-red;
  }
}

.badge {
  .face {
    border: none;
    cursor: default;
    background-color: transparent;
    transform: scale(1.35);
    margin: 5px auto;
  
    .eye-left,
    .eye-right {
      background-color: $brand-white;
      top: 9px;
    }
    
    .mouth {
      border-color: $brand-white;
      border-width: 2px;
      bottom: 8px;
    }
    
    .face:hover {
      border: none;
    }
  }
  
  .face.crazy-happy,
  .face.crazy-sad,
  .face.happy,
  .face.sad {
    .mouth {
      bottom: 7px;
    }
  }
  
  .face.crazy-happy,
  .face.crazy-sad {
    .mouth {
      background-color: $brand-white;  
    }
  }
}

.badge {
  .face.stoic {
    .mouth {
      background-color: $brand-white;
      height: 2px;
      bottom: 9px;
    }
  }
}
