@import 'vars';

@mixin center-vertical ($left) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $left;
  margin-top: auto;
  margin-bottom: auto;
}

.activities .activity {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 48px;
  margin-left: -24px;
}

.activity > .badge,
.activity > .vector,
.activity > .message {
  float: left;
}

.activity > {
  .vector {
    @include center-vertical(48px);  
  }
  .badge {
    @include center-vertical(0px);
  }
}

.activity,
.activity-input {
  .badge {
    border: 3px solid $brand-black;  
  }
}

.activity,
.activity-input {
  .badge {
    height: 48px;
    width: 48px;
    line-height: 42px;
    text-align: center;
    background: $brand-red;
    border-radius: 50%;
    
    span {
      font-size: 1.5em;
      font-weight: 700;
      color: $brand-white;
    }
  }
}

.activity,
.activity-input {
  .badge {
    i.icon {
      font-size: 32px;
      font-weight: 700;
      color: $brand-white;
    }
  }
}

.activity {
  .vector {
    height: 3px;
    width: 25px;
    background-color: $brand-black;
  }
}

.activity {
  .message {
    width: 475px;
    padding: 12px 24px;
    margin-left: 73px;
    background-color: #fff;
    border: 3px solid $brand-black;
    border-radius: 24px;
    font-size: 0.85em;
    color: $brand-black;
  }
}

.activity-input {
  
  background: $brand-black;
  
  textarea {
    margin-top: 1em;
    padding-left: 24px;
    width: 100%;
    height: 5em;
    color: #fff;
    background-color: transparent;
    border: none;
    resize: none;
  }
  
  .badge-selector {
    position: absolute;
    margin-top: 2em;
    margin-left: -24px;
    
    .badge {
      position: absolute;
      float: left;
      opacity: 0;
      z-index: 1;
      
      transition: margin $transition-fast;
      transition: opacity $transition-fast;
    }
    
    .badge.selected {
      z-index: 2;
      opacity: 1;
      cursor: default;
    }
  }
  
  .badge-selector.select {
    .badge {
      position: static;
      margin-right: 12px;
      opacity: 1;
      cursor: pointer;
    }
  }
}

// Activity-specific stuff

// Comments

.activity,
.activity-input {
  .badge.comment {
    background-color: $brand-purple;
  }
}

// .activity .message.comment {
//   // border-color: $brand-purple;
// }

// Update progress

.activity,
.activity-input {
  .badge.progress {
    background-color: $brand-blue;
  }
}

// .activity .message.progress {
//   // border-color: $brand-blue;
// }

// Update mood/status

.activity,
.activity-input {
  .badge.status {
    background-color: $brand-green;
  }
}

// .activity .message.status {
//   // border-color: $brand-green;
// }

// Some Event

.activity,
.activity-input {
  .badge.event {
    background-color: $brand-red;
  }
}

.badge {
  .face {
    border: none;
    cursor: default;
    background-color: transparent;
    transform: scale(1.35);
    margin: 5px auto;
  
    .eye-left,
    .eye-right {
      background-color: $brand-white;
      top: 9px;
    }
    
    .mouth {
      border-color: $brand-white;
      border-width: 2px;
      bottom: 8px;
    }
    
    .face:hover {
      border: none;
    }
  }
  
  .face.crazy-happy,
  .face.crazy-sad,
  .face.happy,
  .face.sad {
    .mouth {
      bottom: 7px;
    }
  }
  
  .face.crazy-happy,
  .face.crazy-sad {
    .mouth {
      background-color: $brand-white;  
    }
  }
}

.badge {
  .face.stoic {
    .mouth {
      background-color: $brand-white;
      height: 2px;
      bottom: 9px;
    }
  }
}
