/* Base styles */

html, body {
  /* Background */
  background-color: #fafafa;

  /* Fonts */
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-weight: 400;

  /* Margins and Padding */
  margin: 0;
  padding: 0;
}

body {
  padding-top: 5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-weight: 700; /* bold */
}

/* Layout */

.content {
  padding: 0 2em;
}

/* Nav */

nav .user {
  position: absolute;
  right: 0;
}

/* Messages */
div.messages {
  position: fixed;
  top: 5em;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
}

/* Brand */

.brand-red {
  color: #e74c3c;
}

.brand-blue {
  color: #3498db;
}

.brand-darkblue {
  color: #2980b9;
}

div.brand-red,
li.brand-red {
  background-color: #e74c3c;
}

div.brand-blue,
li.brand-blue  {
  background-color: #3498db;
}

div.brand-darkblue,
li.brand-darkblue  {
  background-color: #2980b9;
}

/* Pure css overrides */

.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-list {
  display: inline-flex;
}

.pure-menu-list {
  width: 100%;
}

.pure-menu-item {
  line-height: 4em;
}

.pure-menu-link {
  color: #fff;
  font-weight: 700;
}

.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
  padding: .5em 2em;
}

.pure-menu-link:hover,
.pure-menu-link:active {
  color: #444;
  font-weight: 700;
  background-color: #fafafa;
}

.pure-g-r {
  display: flex;
}
