// app.scss 

@import 'vars';
@import 'modals';

/* Base styles */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
  /* Background */
  background-color: $brand-grey;

  /* Fonts */
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $brand-black;
  font-weight: 400;

  /* Margins and Padding */
  margin: 0;
  padding: 0;
}

body {
  padding-top: 5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-weight: 600; /* bold */
}

/* Layout */

.content {
  padding: 0 2em;
}

/*.main > .content {
  margin: auto;
  max-width: 1200px;
}*/

/* Nav */

nav .user {
  position: absolute;
  right: 0;
}

nav li > i.icon {
  line-height: 2.5em;
  transition: background-color 300ms;
}

nav li > i.icon:hover,
nav li > i.icon:active {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.navigation {
  box-shadow: 0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.5); 
}

.navigation > .slide-out-menu {
  height: 0px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  transition: height 300ms;
}

.navigation > .slide-out-menu.show {
  height: 200px;
}

/* Messages */

div.messages {
  position: fixed;
  top: 5em;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
}

/* Brand */

.brand-red {
  color: $brand-red;
}

.brand-blue {
  color: $brand-blue;
}

.brand-darkblue {
  color: $brand-darkblue;
}

div.brand-red,
li.brand-red {
  background-color: $brand-red;
}

div.brand-blue,
li.brand-blue  {
  background-color: $brand-blue;
}

div.brand-darkblue,
li.brand-darkblue  {
  background-color: $brand-darkblue;
}

div.brand-black,
li.brand-black  {
  background-color: $brand-black;
}

/* Pure css overrides */

.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-list {
  display: inline-flex;
}

.pure-menu-list {
  width: 100%;
}

.pure-menu-item {
  line-height: 4em;
}

.pure-menu-link {
  color: #fff;
  font-weight: 600;
  transition: background-color 300ms;
}

.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
  padding: .5em 2em;
}

.pure-menu-link:hover,
.pure-menu-link:active {
  /*color: #444;*/
  font-weight: 600;
  /*background-color: #f7f7f7;*/
  background-color: rgba(0,0,0,0.1);
}

.pure-g-r {
  display: flex;
}

/* Icons */

i.icon-sm {
  font-size: 1em;
  font-weight: 400;
}

i.icon-md {
  font-size : 2em;
  font-weight: 600;
}

i.icon-lg {
  font-size: 3em;
  font-weight: 600;
}

/* Card */

.card {
  height: 350px;
  width: 350px;
  margin: 10px;
  background: rgba(255,255,255,0.8);
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.7);
}

.card .card-header,
.card .card-body, 
.card .card-footer {
  padding: 10px;
}

/*.card .card-header {
  
}

.card .card-body {
  
}

.card .card-footer {
  
}*/


/* Helpers */

::selection:not(input) {
  background-color: transparent;
}

.white {
  color: #fff;
}

.no-scroll {
  overflow: hidden;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
