@import 'vars';

div[class*="avatar-"] {
  border-radius: 50%;
}

.avatar-sm {
  height: 30px;
  width: 30px;
  border: 1px solid $brand-black;
  overflow: hidden !important;
  
  img {
    height: 100%;
    width: 100%;
  }
}