/* Card */

@import 'vars';

.card {
  height: $card-dimensions;
  width: $card-dimensions;
  margin: $card-margins;
  background: rgba(255, 255, 255, 0.75);
  border-top: 2px solid #fff;
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-left: 2px solid #fff;
}

.card > div {
  padding: 5px;
}

.card .card-title {
  font-weight: 600;  
}

.card .card-body {
  font-size: 0.75em;
}

.card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card .card-footer i.icon {
  cursor: pointer;
  margin-left: 5px;
}

.card .card-progress-bar {
  display: block;
  position: relative;
  height: 5px;
  background-color: rgba(0,0,0,0.05);
  margin: 10px 0 0;
}

.card .card-progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: $brand-green;
  transition: width $transition-medium;
}

/* Container */

.card-container {
  display: block;
  position: relative;
  margin: 0 auto;
  -webkit-transition: width $transition-fast;
  -moz-transition: width $transition-fast;
  transition: width $transition-fast;
}

.card-container > .card {
  display: inline-block;
  position: relative;
  *display: inline; /* IE 6 */
  zoom: 1;
  vertical-align: top;
}

