/* Card */

@import 'vars';

@mixin active () {
  background: $brand-white;
  // box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  
  
  background: $brand-white;
  
  -webkit-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  -moz-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  -ms-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  -o-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  
  // border: 2px solid $brand-darkgrey;
  // border-top: 2px solid #fff;
  // border-right: 1px solid rgba(0,0,0,0.1);
  // border-bottom: 1px solid rgba(0,0,0,0.3);
  // border-left: 2px solid #fff;
}

@mixin card () {
  height: $card-dimensions;
  width: $card-dimensions;
  margin: $card-margins;
}

.card {
  @include card();
  @include active();
}

.card .card-header,
.card .card-body {
  padding: 10px 10px 0px;
}

.card .card-footer {
  padding: 10px;
}

.card .card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25em;
  font-weight: 700;
}

.card .card-body {
  font-size: 0.75em;
}

.card .card-description {
  line-height: 1.5em;
  max-height: 7.5em;
  overflow: hidden;
}

.card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $brand-grey;
  // border-top: 2px solid $brand-darkgrey;
}

.card .mood {
  height: 32px;
  width: 32px;
  padding: 2px;
  margin-right: 1px;
  
  .face {
    height: 100%;
    width: 100%;
  }
}

.card .card-footer i.icon {
  cursor: pointer;
  margin-left: 5px;
}

.card .card-progress-bar {
  display: block;
  position: relative;
  height: 5px;
  background-color: $brand-grey;
  margin: 10px 0 0;
}

.card .card-progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: $brand-green;
  transition: width $transition-medium;
}

/* Placeholder */

.card.placeholder {
  // @include card();
  background: #eee;
  border: 2px solid #eee;
  
  // border-top: 1.5px solid rgba(0,0,0,0.1);
  // border-right: 1px solid rgba(0,0,0,0.02);
  // border-bottom: 1px solid rgba(0,0,0,0.02);
  // border-left: 1.5px solid rgba(0,0,0,0.1);

  // margin-left: 4px;
  // margin-right: 4px; // Not sure what the deal is with this, yet
  
  transition: background $transition-fast, border $transition-fast;
}

.card > .card-hoverzone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background $transition-medium;
}

.card > .card-hoverzone:hover,
.card > .card-hoverzone:active {
  background: $brand-grey;
}

.card.placeholder:hover,
.card.placeholder:active {
  @include active();
}