.card-board {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Important for evenly distributing container sub-element(s) */
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.card-board:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.card-board > .card {
  display: inline-block;
  *display: inline; /* IE 6 */
  zoom: 1;
}