/* Card */

@import 'vars';

@mixin active () {
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid $brand-darkgrey;
  // border-top: 2px solid #fff;
  // border-right: 1px solid rgba(0,0,0,0.1);
  // border-bottom: 1px solid rgba(0,0,0,0.3);
  // border-left: 2px solid #fff;
}

@mixin card () {
  height: $card-dimensions;
  width: $card-dimensions;
  margin: $card-margins;
  transition: $transition-medium;
}

.card {
  @include card();
  @include active();
}

.card > div {
  padding: 10px;
}

.card .card-title {
  font-weight: 600;  
}

.card .card-body {
  font-size: 0.75em;
}

.card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card .card-footer i.icon {
  cursor: pointer;
  margin-left: 5px;
}

.card .card-progress-bar {
  display: block;
  position: relative;
  height: 5px;
  background-color: rgba(0,0,0,0.05);
  margin: 10px 0 0;
}

.card .card-progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: $brand-green;
  transition: width $transition-medium;
}

/* Container */

.card-container {
  display: block;
  position: relative;
  margin: 0 auto;
  -webkit-transition: width $transition-fast;
  -moz-transition: width $transition-fast;
  transition: width $transition-fast;
}

.card-container > .card {
  display: inline-block;
  position: relative;
  *display: inline; /* IE 6 */
  zoom: 1;
  vertical-align: top;
}

/* Placeholder */

.card.placeholder {
  // @include card();
  background: #eee;
  border: 2px solid #eee;
  
  // border-top: 1.5px solid rgba(0,0,0,0.1);
  // border-right: 1px solid rgba(0,0,0,0.02);
  // border-bottom: 1px solid rgba(0,0,0,0.02);
  // border-left: 1.5px solid rgba(0,0,0,0.1);

  // margin-left: 4px;
  // margin-right: 4px; // Not sure what the deal is with this, yet
  
  transition: background $transition-fast, border $transition-fast;
}

.card:hover,
.card:active {
  background: rgba(0,0,0,0.1);
}

.card.placeholder:hover,
.card.placeholder:active {
  @include active();
}

