@import 'vars';

/* Sign in */

.signin-container {
  width: 400px;
  margin: 5% auto 0;
  
  h1 {
    text-align: center;
  }
  
  md-content {
    padding-top: 25px;
    border: 2px solid $brand-black;
  }
}

.signin-container {
  
  md-input-container {
    margin-bottom: 25px;
  }
  
  .md-button,
  .md-button:hover,
  .md-button:active {
    background-color: transparent;
    margin: 25px 0 0;
    text-align: center;
    width: 100%;
    font-size: 1.25em;
  }
}