@import 'vars';

/* General */

.content {
  display: block;
  position: relative;
  margin: 0 auto;
  -webkit-transition: width $transition-fast;
  -moz-transition: width $transition-fast;
  transition: width $transition-fast;
  padding: 8px;
}

/* Activities */

.activities {
  width: 550px;
  overflow: visible;
  color: $brand-black;
  background: $brand-white;
  @include left-shadow();
}

/* Card */

.card-container {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 1em;
  -webkit-transition: width $transition-fast;
  -moz-transition: width $transition-fast;
  transition: width $transition-fast;
}

.card-container > .card {
  display: inline-block;
  position: relative;
  *display: inline; /* IE 6 */
  zoom: 1;
  vertical-align: top;
}

.card-menu {
  display: none;
  position: absolute;
  top: $card-dimensions + 1px;
  right: 0;
  z-index: 1;
  max-width: $card-dimensions;
  
  @include active-card();
  
  div.card-menu-item {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 0.8em;
    padding: 0px 10px;
    cursor: pointer;
    
    i {
      margin-right: 5px;
    }
  }
  
  div.card-menu-item:nth-child(even) {
    background-color: #fafafa;
  }
  
  div.card-menu-item:hover,
  div.card-menu-item:active {
    background-color: $brand-grey;
  }
}


.card-menu.show {
  display: block;
}

/* Sign in */

.signin-container {
  width: 400px;
  margin: 5% auto 0;
  
  h1 {
    text-align: center;
  }
  
  md-content {
    padding-top: 25px;
    border: 2px solid $brand-black;
  }
}

.signin-container {
  
  md-input-container {
    margin-bottom: 25px;
  }
  
  .md-button,
  .md-button:hover,
  .md-button:active {
    background-color: transparent;
    margin: 25px 0 0;
    text-align: center;
    width: 100%;
    font-size: 1.25em;
  }
}