@import 'vars';

.center {
  text-align: center;
}

.fineprint {
  color: $brand-darkgrey;
  font-size: 0.75em;
}

.hidden {
  position: absolute;
  display: none;
  height: 0;
  width: 0;
  z-index: -1;
}

.pointer {
  cursor: pointer;
}

[ng-cloak], 
.ng-cloak {
  display: none;
}

.overflow-visible {
  overflow: visible !important;
}

@mixin transition ($attr, $speed) {
  transition: $attr $speed;
  -webkit-transition: $attr $speed;
  -moz-transition: $attr $speed;
  -o-transition: $attr $speed;
}