@import 'vars';

.center {
  text-align: center;
}

.fineprint {
  color: $brand-darkgrey;
  font-size: 0.75em;
}

.pointer {
  cursor: pointer;
}

[ng-cloak], 
.ng-cloak {
  display: none;
}

.overflow-visible {
  overflow: visible !important;
}

@mixin transition ($attr, $speed) {
  transition: $attr $speed;
  -webkit-transition: $attr $speed;
  -moz-transition: $attr $speed;
  -o-transition: $attr $speed;
}