@import 'vars';
@import 'helpers';

$feature-thickness: 1px;

.face {
  position: relative;
  height: 32px;
  width: 32px;
	border-radius: 50%;
	background: transparent;
	border: $feature-thickness solid $brand-black;
  @include transition(background, 300ms);
}

.face .eye-left, 
.face .eye-right {
	position: absolute;
  top: 28%;
  width: 3px;
	height: 3px;
	background: $brand-black;
	border-radius: 50%;
}

.face .eye-left {
  left: 25%;
}

.face .eye-right {
	right: 25%;
}

.face .mouth {
	position: absolute;
	bottom: 9px;
	left: 25%;
	width: 50%;
  height: $feature-thickness;
  background-color: $brand-black;
	overflow: hidden;
}

/* Begin emotions (beware) */

.face.kinda-happy .mouth,
.face.happy .mouth,
.face.crazy-happy .mouth,
.face.kinda-sad .mouth,
.face.sad .mouth,
.face.crazy-sad .mouth {
  border: $feature-thickness solid $brand-black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
}

@mixin happy() {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top: 0;
}

@mixin sad() {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 0;
}

.face.kinda-happy .mouth {
  height: 3px;
  bottom: 8px;
  @include happy(); 
}

.face.kinda-sad .mouth {
  height: 3px;
  bottom: 8px;
  @include sad();
}

.face.happy .mouth {
  height: 7px;
  bottom: 6px;
  @include happy();
}

.face.sad .mouth {
  height: 7px;
  bottom: 6px;
  @include sad();
}

.face.crazy-happy .mouth {
  height: 7px;
  bottom: 6px;
  @include happy();
  border-top: $feature-thickness solid $brand-black;
  background-color: $brand-black;
}

.face.crazy-sad .mouth {
  height: 7px;
  bottom: 6px;
  @include sad();
  border-bottom: $feature-thickness solid $brand-black;
  background-color: $brand-black;
}

.face:hover,
.face:active {
  background-color: $brand-white;
}

.face.kinda-happy:hover,
.face.kinda-happy:active,
.face.happy:hover,
.face.happy:active,
.face.crazy-happy:hover,
.face.crazy-happy:active {
  background-color: $brand-green;
}

.face.kinda-sad:hover,
.face.kinda-sad:active,
.face.sad:hover,
.face.sad:active,
.face.crazy-sad:hover,
.face.crazy-sad:active {
  background-color: $brand-red;
}