@import 'vars';

/* Material overrides */

cherry-form {
  white-space: normal;
}

md-input-container {
  
  padding: 0;
  margin-bottom: 30px;

  .md-char-counter {
    padding-right: 5px;
  }

  label,
  .md-input,
  [ng-message]:not(.md-char-counter) {
    padding-left: 5px !important;
  }
}

md-input-container textarea.md-input {
  height: auto;
  min-height: 0;
}

md-input-container:not(.md-input-invalid).md-input-focused {
  label {
    color: rgba(0,0,0,0.54);
  }
  .md-input {
    border-color: $brand-black;
  }
}

md-content {
  background-color: transparent;
  color: $brand-black;
}

md-content form h1 {
  white-space: normal;
  font-weight: 500;
}

.md-button {
  margin: 26px 0 6px;
  background-color: rgba(0,0,0,0.03);
}

/* Bricks */

.wall:after {
  content: none;
  clear: none;
}

.brick {
  vertical-align: top;
}

/* Pixeden icon overrides */

[class*=" pe-7s-"], 
[class^=pe-7s-] {
  line-height: inherit;
}