// vars.scss

$brand-red: #eb5b5b;
$brand-blue: #77C5F7;
$brand-darkblue: #354458;
$brand-green: #2ecc71;
$brand-yellow: #f1c40f;
$brand-lightgrey: #f7f7f7;
$brand-grey: #ecf0f1;
$brand-darkgrey: #999;
$brand-black: #444;
$brand-white: #fff;

$transition-fast: 300ms;
$transition-medium: 500ms;
$transition-slow: 1000ms;

$card-dimensions: 300px;
$card-margins: 8px;

$cherry-padding: 10px;