// vars.scss

$brand-red: #eb5b5b;
$brand-blue: #77C5F7;
$brand-darkblue: #354458;
$brand-green: #2ecc71;
$brand-yellow: #f1c40f;
$brand-purple: #9b59b6;
$brand-lightgrey: #f7f7f7;
$brand-grey: #ecf0f1;
$brand-darkgrey: #999;
$brand-black: #444;
$brand-white: #fff;

$transition-fast: 300ms;
$transition-medium: 500ms;
$transition-slow: 1000ms;

$card-dimensions: 300px;
$card-margins: 8px;

$card-menu-margins: 0;

$cherry-padding: 10px;

// Mixins

@mixin left-shadow () {
  -webkit-box-shadow: -2px 0 1px rgba(0,0,0,0.11);
  -moz-box-shadow: -2px 0 1px rgba(0,0,0,0.11);
  -ms-box-shadow: -2px 0 1px rgba(0,0,0,0.11);
  -o-box-shadow: -2px 0 1px rgba(0,0,0,0.11);
  box-shadow: -2px 0 1px rgba(0,0,0,0.11);
}

@mixin bottom-shadow () {
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
  -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
  -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
}

@mixin card () {
  height: $card-dimensions;
  width: $card-dimensions;
  margin: $card-margins;
}


@mixin active-card () {
  background: $brand-white;
  // box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  
  
  background: $brand-white;
  
  -webkit-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  -moz-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  -ms-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  -o-box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  box-shadow: 0 0 0 1px rgba(14,41,57,0.09),0 1px 3px rgba(14,41,57,0.33),inset 0 -1px 2px rgba(14,41,57,0.11);
  
  // border: 2px solid $brand-darkgrey;
  // border-top: 2px solid #fff;
  // border-right: 1px solid rgba(0,0,0,0.1);
  // border-bottom: 1px solid rgba(0,0,0,0.3);
  // border-left: 2px solid #fff;
}
