<div ng-show="!signedIn" id="signin-container" class="signin-container">
  
  <h1>Cherry</h1>
  
  <div layout="column">
    <md-content>
      <form name="cherrySignin" ng-submit="signin()">
        <md-input-container>
          <label>Email</label>
          <input md-maxlength="100" name="email" ng-model="email">
          <div ng-messages="cherrySignin.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="md-maxlength">Email must be less than 100 characters.</div>
          </div> 
        </md-input-container>
        
        <md-input-container>
          <label>Password</label>
          <input md-maxlength="100" minlength="4" type="password" name="password" ng-model="pass">
          <div ng-messages="cherrySignin.password.$error">
            <div ng-message="required">Password is required.</div>
            <div ng-message="md-maxlength">Password must be less than 100 characters.</div>
          </div> 
        </md-input-container>
        
        <md-input-container ng-cloak ng-show="createMode">
          <label>Confirm Password</label>
          <input md-maxlength="100" type="password" name="password" ng-model="confirm">
          <!-- <div ng-messages="cherrySignin.password.$error">
            <div ng-message="required">Password is required.</div>
            <div ng-message="md-maxlength">Password must be less than 100 characters.</div>
          </div> -->
        </md-input-container>
        
        <md-button ng-hide="createMode" class="submit-button" role="submit">Sign in</md-button>
        <md-button ng-hide="!createMode" class="submit-button" ng-click="createAccount()">Register New Account</md-button>
      </form>
    </md-content>
    
    <p ng-click="createMode = true" ng-hide="createMode" class="fineprint center pointer">Don't have an account?</p>
    <p ng-click="createMode = false" ng-hide="!createMode" class="fineprint center pointer">Already have an account?</p>
    
  </div>
</div>

  <!--<div ng-show="!signedIn" id="signin-container">
    <div class="header">
      <h2>Sign in</h2>
    </div>
    <div class="body">
      <form>
        <label>
          <span>email</span>
          <input type="text" ng-model="email" />
        </label>
        <label>
          <span>password</span>
          <input type="password" ng-model="pass" />
        </label>
        <label ng-cloak ng-show="createMode">
          <span>confirm pass</span>
          <input type="password" ng-model="confirm" />
        </label>
        <button class="btn" ng-click="signin()" ng-hide="createMode">Sign In</button>
        <button class="btn" ng-click="createMode = true" ng-hide="createMode">Register</button>
        <button class="btn" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
        <button class="btn" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
      </form>
    </div>
  </div>-->

