div(class='modal-main modal-effect-full' id='modal-full')
  perfect-scrollbar(class='modal-content scrollable', wheel-propagation='true', wheel-speed='1')
    div(layout='column')
      md-content(layout-padding)
        cherry-form
='\n'
//Modal Overlay
div(class='modal-overlay')
  i(class='icon icon-md pe-7s-close modal-close')
