div(ng-hide='!signedIn', ng-cloak, class='pure-menu pure-menu-horizontal pure-menu-fixed brand-blue')
  nav
    ul(class='pure-menu-list')
      li(ng-if='signedIn' class='pure-menu-item')
        a(href='#/' class='pure-menu-link') CherryTask
      li(ng-if='signedIn', class='pure-menu-item user brand-darkblue')
        a(href='#/account' class='pure-menu-link') Account
