doctype html
html(lang='en', ng-app='cherry')
  head
    include ./partials/meta.jade
    = '\n'
    //Fonts & icons
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='bower_components/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css')
    = '\n'
    //Style
    link(rel='stylesheet' href='bower_components/perfect-scrollbar/min/perfect-scrollbar.min.css')
    link(rel='stylesheet' href='bower_components/angular-material/angular-material.css')
    link(rel='stylesheet' href='../node_modules/bricks-css/dist/bricks.min.css')
    link(rel='stylesheet', href='assets/style/compiled/app.css')
    link(rel='stylesheet', href='assets/style/compiled/app.css.map')
    = '\n'
  body
    = '\n'
    //Navigation
    include ./partials/navigation.jade
    = '\n'
    //Main
    div(class='main')
      div(ng-view)
    = '\n'
    //Modal
    include ./partials/modal.jade
    = '\n'
    //Library
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-aria/angular-aria.js')
    script(src='bower_components/angular-material/angular-material.js')
    script(src='bower_components/angular-messages/angular-messages.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/firebase/firebase.js')
    script(src='bower_components/angularfire/dist/angularfire.js')
    script(src='bower_components/perfect-scrollbar/min/perfect-scrollbar.min.js')
    script(src='bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js')
    = '\n'
    //Application
    script(src='app.js')
    = '\n'
    //Lib
    script(src='assets/js/lib/classie.js')
    script(src='assets/js/lib/modalEffects.js')
    = '\n'
    //Globals
    script(src='global/dependencies.js')
    script(src='global/services/logger-svc.js')
    script(src='global/services/cherryauth-svc.js')
    script(src='global/services/api-svc.js')
    script(src='global/services/auth-svc.js')
    script(src='global/services/fbutil-svc.js')
    script(src='global/services/breadcrumb-svc.js')
    script(src='global/directives/appversion.js')
    script(src='global/directives/chat.js')
    script(src='global/directives/cherryform.js')
    script(src='global/directives/cherrycard.js')
    script(src='global/directives/mood.js')
    script(src='global/controllers/breadcrumb-ctrl.js')
    script(src='global/controllers/modals-ctrl.js')
    script(src='global/config/config.js')
    script(src='global/config/ngcloak.js')
    script(src='global/config/security.js')
    = '\n'
    //Register module dependencies
    script(src='modules/dependencies.js')
    //Project
    script(src='modules/project/routes.js')
    script(src='modules/project/controllers/project-ctrl.js')
    = '\n'
    //Account
    script(src='modules/account/routes.js')
    script(src='modules/account/controllers/account-ctrl.js')
    = '\n'
    //Sign in
    script(src='modules/signin/routes.js')
    script(src='modules/signin/controllers/signin-ctrl.js')
    = '\n'
    //Task
    script(src='modules/task/routes.js')
    script(src='modules/task/services/task-svc.js')
    script(src='modules/task/controllers/task-ctrl.js')
   